<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.androidbootapp">

    <uses-feature android:required="true" android:glEsVersion="0x00020000"/>
    <permission android:name="com.example.androidbootapp.permission.MAPS_RECEIVE" android:label="signature"></permission>
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
    <uses-permission android:name="com.google.android.providers.gsf.permission.READ_GSERVICES"/>
    <meta-data android:name ="com.google.android.gms.version"    android:value = "@integer/google_play_services_version"/>

    <!-- INTERNET uses-permission 추가 : 안드로이드 앱 http 통신 허용 -->
    <uses-permission android:name="android.permission.INTERNET"/>

    <!-- http는 https에 비해 보안 수준이 약하기 때문에 http 주소 이용을 위해
         별도의 permission 설정이 필요합니다. 그래서, 다음의 18행과 같이
         AndroidManifest.xml 파일 안에 application 태그에서
         android:usesCleartextTraffic="true"로 설정하면
         모든 Http 주소에 접근할 수 있습니다. -->

    <application
        android:allowBackup="true"
        android:icon="@mipmap/anibucket"
        android:label="AniBucket"
        android:roundIcon="@mipmap/anibucket_round"
        android:supportsRtl="true"
        android:usesCleartextTraffic="true"
        android:theme="@style/Theme.AndroidBootApp">

        <activity android:name=".SignInActivity" />
        <activity android:name=".SignUpActivity" />
        <activity android:name=".About" />
        <activity android:name=".ContactUs" />
        <activity android:name=".Faq" />
        <activity android:name=".MarketFirstActivity" />
        <activity android:name=".MarketSecondActivity" />
        <activity android:name=".MarketThirdActivity" />

        <activity
            android:name=".MainActivity" android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <meta-data android:name="com.google.android.maps.v2.API_KEY" android:value="AIzaSyAloVfM6sIyihE4QNGIP1RLU4xR2tPFp24"/>
    </application>

</manifest>